/*
RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
GENERALE
*/
*{
    font-family: 'Fredoka', sans-serif ;
    
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    color: #e53170;
    text-align: center;
    padding-bottom: 30px;
}
.text{
    text-align: center;
    padding-bottom: 30px;
}

.bg-black{
    background-color: black;
    width: calc((100% / 3) - 20px);
    height: 80px;
    margin: 10px;
    
}

.columns{
    float: left;
    
}

.img{
    width: 80px;
    height: 80px;
    float:left;
}
div h2{
    font-size: 1.2em;
}
div p{
    text-align: left;
    padding-bottom: 0;
}
.white{
    color: white;  
}
.skyblue{
    color: #5bcadd;
}
.block-text{
    float:left;
    padding: 10px;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}